# Virtual environments
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Jupyter / Notebook
.ipynb_checkpoints/
*.ipynb

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Build / Packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST
wheels/
*.spec

# Logs
*.log

# Environments
.env
.envrc

# Cache
.cache/
.huggingface/
.ruff_cache/
.dmypy.json
.mypy_cache/

# IDE / Editor
.spyderproject
.spyproject
.ropeproject
.pyre/
.pytype/
cython_debug/
.idea/
.vscode/

# Others
*.zip
marimo/_static/
marimo/_lsp/
__marimo__/
